{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background: #241468">
    <div class="overlay"></div>
          <div class="site-heading">
          </div>
  </header>

  <!-- Main Content -->
<Body>
<div id="backgroundImage">
<div class="about-title">
    <h1>A custom website using an API</h1>
    <h4>This website is a simple use of API from</h4>
        <a class="nav-link" href="https://the-one-api.dev/">The One API to rule them all</a>
        <h4>as part of a Portfolio</h4>
</div>
</div>
</Body>


{% include "footer.html" %}